
@media (min-width: 992px) {
	.nav {
		.wrapper {
			padding: 0em;
		}

		&__name-company {
			width: 50%;
			h2 {
				margin: 0;
			}
		}
		&__burger-btn {
			display: none;
		}
		&__items {
			display: flex;
		}
	}
	.menu-mobile {
		display: none;
	}

	.header {
		background-image: url('../img/jungle_1920.jpg');
	}

	.hero-img {
		background-image: url(../img/girl_1920.jpg);

		&__title {
			margin: 1em;
			padding: 1em 5em;
			font-size: 4rem;
		}
	}

	.aboutus {
		&__info {
			flex-direction: row;
			&-text {
				padding-top: 0;
			}
		}

		&__img {
			background-image: url(../img/waters_1920.jpg);
		}
	}

	.offer {
		&-heading {
			margin: auto;
			&--more {
				margin: 1.5em 0;
				font-size: 3rem;
			}
		}

		&__cards {
			flex-wrap: nowrap;
		}
		&__card {
			height: 37rem;

			&-price--more {
				margin: 1em 0;
				font-size: 3rem;
			}
		}

		&__newcard {
			flex-direction: row;
			width: 100%;
			max-width: 90rem;
			max-height: 42rem;

			&-img {
				width: 80%;
				height: 100%;
				max-width: 52rem;

				img {
					height: 100%;
					width: 100%;
				}
			}
			&-text {
				margin: 0;
				padding: 0 2em;
				height: 100%;
				width: 50%;
				line-height: 2em;
			}
		}
	}
	.footer {
		&__company-name {
			font-size: 4rem;
			width: 50%;
		}
		&-heading {
			margin-bottom: 1em;
		}
		&__box {
			flex-direction: row;
			justify-content: start;
			align-items: start;
			width: 50%;
			&-col {
				padding: 1em 2em;
				text-align: left;

				p {
					font-size: 1.5rem;
					margin-bottom: 1em;
				}
			}
		}
	}
	.contact {
		&__info {
			flex-direction: row;
		}
		&__info {
			&-form {
				display: flex;
				justify-content: center;
				margin: 4em;
			}

			&-box {
				display: flex;

				align-items: flex-start;
				font-size: 2rem;
				margin-left: 0;
			}
		}
	}
}
@media (min-width: 1200px) {
	.contact {
		.fa-solid {
			margin-right: 1em;
		}

		&__info {
			&-box {
				margin-left: 2em;
			}
		}
	}
}
